{% extends "base.html" %}

{% block content %}

<div class="container mt-4">    

    <h2 class="mb-4">Twoje karty</h2>
    <p class="mb-4">Dostępne karty</p>

    <table class="table table-striped">

        <thead>
            <tr>
                <th>Nr karty</th>
                <th>Nr konta do karty</th>
                <th>Saldo</th>
            </tr>
        </thead>

        <tbody>
            {% if cards %}
                {% for card in cards %}
                <tr>
                    <td>{{ card.card_nr }}</td>
                    <td>{{ card.account_nr }}</td>
                    <td>{{ card.balance }} {{ card.currency }}</td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="4" class="text-center">Nie posiadasz jeszcze żadnych kart</td>
            </tr>
            {% endif %}
        </tbody>

    </table>

</div>

{% endblock %}